body { background: #8d728b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 56px; display: flex; }
.block-router-0 { color: #4b1756; font-size: 17px; margin-bottom: 5px; }
.block-email-1 { color: #2c1c4; font-size: 15px; margin-bottom: 5px; }
.block-shipping-2 { color: #60cded; font-size: 15px; margin-bottom: 5px; }
.block-router-3 { color: #3b0e5d; font-size: 20px; margin-bottom: 5px; }
.block-config-4 { color: #4ca0d0; font-size: 17px; margin-bottom: 5px; }
.block-shipping-5 { color: #fbd32b; font-size: 19px; margin-bottom: 5px; }
.block-helper-6 { color: #b399d8; font-size: 20px; margin-bottom: 5px; }
.block-search-7 { color: #92f2fa; font-size: 12px; margin-bottom: 5px; }